* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: url("./img/background2.jpg") center fixed;
  color: white;
}
h1 {
  margin: 30px auto;
  width: fit-content;
  padding: 20px;
  background: linear-gradient(to bottom right, #03165a, #3d89a1);
  border-radius: 20px;
}
p {
  margin: 5px 0;
}
td {
  padding: 5px;
  vertical-align: top;
}
tr:nth-child(odd) {
  text-align: center;
  background-color: #375a7f;
}
input {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px 3px black;
  text-align: center;
  border: none;
  outline: none;
  width: 380px;
  height: 2rem;
  font-size: 1.2rem;
  padding: 10px;
}
::placeholder {
  text-align: left;
  color: black;
  opacity: 1;
}

#map {
  height: 300px;
  width: 400px;
  border-radius: 20px;
  margin: 0;
}

/* Classes */
.container {
  padding: 20px;
}
.weather,
.forecast {
  display: none;
  background-color: #181818ec;
  width: fit-content;
  padding: 20px;
  margin: 30px auto;
  border-radius: 50px;
}
.flexWrapCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.column {
  flex-direction: column;
}
.textCenter {
  text-align: center;
}
.largeFont {
  font-size: 1.5rem;
}
.padding {
  padding: 20px;
}
.marginRight {
  margin-right: 0.5rem;
}
.yellowText {
  color: #fce300;
}
.redText {
  color: #e74c3c;
}
.blueText {
  color: #3498db;
}
.orangeText {
  color: #f39c12;
}
.whiteText {
  color: white;
}
.capitalize {
  text-transform: capitalize;
}
