*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url("./img/background.jpg") center 0% fixed;
  color: white;
}

.container {
  background-color: #18181870;
  width: fit-content;
  margin: auto;
}

/* Classes */
.flexWrapCenter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.column {
  flex-direction: column;
}
.btn {
color: white;
border: none;
border-radius: 5px;
margin: 0 5px;
padding: 10px;
cursor: pointer;
white-space: nowrap;
}
.btn {
background-color: #3498db;
}
.btn:hover {
background-color: #2774a7;
}
.btn:active {
background-color: #1d5479;
}
.textCenter {
  text-align: center;
}